{% extends "layout.html" %}

{% block title %}
    Chords Chart
{% endblock %}

{% block main %}

    <body>
        <main>
            <img src="/static/majorkeys.png" style="width: 450px; height: 600px;">
            <img src="/static/minorkeys.png" style="width: 450px; height: 600px;">
            <p style="font-size: 20px;"><br><strong>Forgot how to make chords? Click here for:<a href="https://www.schoolofrock.com/resources/keyboard/piano-chords-for-beginners-what-you-need-to-know">Piano</a>
                or <a href="https://www.oolimo.com/en/index.php">Guitar</a></p></strong>
        </main>
    </body>
{% endblock %}
